name: Auto PR

on:
  push:
    branches:
      - "**"
permissions:
  contents: write
  pull-requests: write
  
jobs:
  pr:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v4

      - uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
